* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
body {
  background-color: rgb(63, 27, 221);
}
main {
  background-color: white;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 5px rgb(5, 0, 0);
}
img.lado {
  float: right;
}
img:hover {
  background-color: red;
}
h1 {
  color: blue, 0, 132;
}
h2 {
  color: blue, 0, 132;
}
